[board_pins]
aliases:
    # Stepper drivers
    S_EN=gpio3,   S_STEP=gpio2,  S_DIR=gpio1,  S_CS=gpio0, S_DIAG=gpio22, # Selector
    G_EN=gpio6,   G_STEP=gpio7,  G_DIR=gpio8,  G_CS=gpio9, G_DIAG=gpio23, # Gear

    # End stops
    STOP=gpio20,  ENCODER=gpio15, EXTRA=gpio14,

    # IO Header
    IO_1=gpio26, IO_2=gpio27, IO_3=gpio28, IO_4=gpio29, IO_5=gpio25,
    IO_6=gpio10, IO_7=gpio11, IO_8=gpio12, IO_9=gpio24, IO_10=gpio13,

    # Selector Servo
    SERVO=gpio21   # servo pin

[temperature_sensor ERCF]
sensor_type: temperature_mcu
sensor_mcu: tr