#####################################################################
# 	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - FAN0 connector
pin: FAN0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
shutdown_speed = 1

[fan]
pin: HE3
##	Print Cooling Fan - FAN1 connector
kick_start_time: 0.5
off_below: 0.1

[controller_fan controller_fan1]
##	Controller fan - FAN4 connector
pin: FAN4
kick_start_time: 0.5
#heater: heater_bed
#heater_temp: 45.0
fan_speed = 1
shutdown_speed = 1.0
#cycle_time: 0.0001
#hardware_pwm: False


[temperature_sensor mcu]
sensor_type: temperature_mcu


[temperature_fan chamber]
##	Exhaust fan - FAN3 connector
pin = FAN3
max_power = 1.0
shutdown_speed = 0.0
kick_start_time = 0.5
off_below = 0.15
gcode_id = C
sensor_type = ATC Semitec 104GT-2
## Sensor in T0 connector
sensor_pin = T0
min_temp = 0
max_temp = 70
max_speed = 1
min_speed = 0.0
target_temp = 0
control = watermark
max_delta: 2.0

##  Nevermore Micro filter
##  FAN2 connector
[fan_generic filter]
pin: HE2
kick_start_time: 0.5
off_below: 0.10

[temperature_sensor Driver]
## Electronic compartment sensor
## T1 connector
sensor_type = ATC Semitec 104GT-2
sensor_pin = T1
gcode_id = DRV

[temperature_sensor Nevermore]
## Under bed sensor in T2 connector
sensor_type = ATC Semitec 104GT-2
sensor_pin = T2
gcode_id = NVR


[temperature_fan CPU]
pin: FAN5
shutdown_speed: 1
control: watermark
max_delta: 3
min_temp: 5
max_temp: 75
sensor_type = temperature_host
target_temp: 50.0
max_speed: 1
gcode_id = CPU


####################################################################
  Macros
####################################################################

[gcode_macro M141]
description: Set temperature of chamber fan
gcode:
  # set default parameter value
  {%set temp = params.S|default(0) %}
  SET_TEMPERATURE_FAN_TARGET temperature_fan=chamber target={temp}
    
[gcode_macro _SET_FILTER]
description: Helper: Set Nevermore filter speed
gcode:
  # set default parameter value
  {% set speed = params.S|default(0) %}
  SET_FAN_SPEED FAN=filter SPEED={speed}

##  Filter On
[gcode_macro FILTER_ON]
description: Helper: Nevermore on
gcode:
  _SET_FILTER S={printer['gcode_macro _USER_VARIABLE'].filter_on}
  
##  Filter Fan Control in Mainsail
[gcode_macro FILTER]
gcode:
  {% if printer['fan_generic filter'].speed|float > 0.0 %}
    _SET_FILTER
  {% else %}
    FILTER_ON
  {% endif %}
  _FILTER_INFO
  
[delayed_gcode _DELAY_FILTER_OFF]
gcode:
  {% if (printer.idle_timeout.state|lower != "printing") %}
    _SET_FILTER
    _FILTER_INFO
  {% endif %}

##  Chamber Ventilation Control in Mainsail
[gcode_macro VENT]
description: Toggle Chamber fan
gcode:
    {% set act_target = printer['temperature_fan chamber'].target|int %}
    {% set temp_on = printer['gcode_macro _USER_VARIABLE'].vent_on|int %}
    {% if act_target > 0 and act_target <= temp_on %}
        M141 S0
    {% else %}
        M141 S{temp_on}
    {% endif %}
    _VENT_INFO

[delayed_gcode _DELAY_VENT_OFF]
gcode:
  {% if (printer.idle_timeout.state|lower != "printing") %}
    M141
    _VENT_INFO
  {% endif %}

[gcode_macro _VENT_INFO]
description: Helper: Print chamber fan temperature
gcode:
  {% if printer['temperature_fan chamber'].target|int == 0 %}
    {action_respond_info("Chamber fan off")}
  {% else %}
    {action_respond_info("Chamber fan target temp: %2dC" % (printer['temperature_fan chamber'].target))}
  {% endif %}

[gcode_macro _FILTER_INFO]
description: Helper: Print Nevermore speed
gcode:
  {% if printer['fan_generic filter'].speed|float > 0.0 %}
    {% set state='on'%}
  {% else %}
    {% set state='off'%}
  {% endif %}
  {action_respond_info("Filter Fan %s" % (state))}