[Unit]
Description=Starts cvlc stream from usb webcam
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=pi
ExecStart=cvlc -vvv v4l2:///dev/v4l/by-id/usb-SHENZHEN_Fullhan_RunCam_webcam_20200506-video-index0:chroma=h264:width=1920:height=1080:fps=30 --sout '#duplicate{dst=standard{access=http, mux=ts, dst=:8081/mp4.mp4},dst=standard{access=http, mux=mp4frag, dst=:8081/mp4frag.mp4}}'
KillSignal=SIGHUP
Restart=always
RestartSec=600
