[z_calibration]
probe_nozzle_x: 94
probe_nozzle_y: 301
#   The X and Y coordinates (in mm) for clicking the nozzle on the
#   Z endstop.
probe_switch_x: 98
probe_switch_y: 268
#   The X and Y coordinates (in mm) for clicking the probe's switch
#   on the Z endstop.
probe_bed_x: 150
probe_bed_y: 162.48
#   The X and Y coordinates (in mm) for probing on the print surface
#   (e.g. the center point) These coordinates will be adapted by the
#   probe's X and Y offsets. The default is the relative_reference_index
#   of the configured bed_mesh. It will raise an error if there is no
#   probe_bed site and no bed_mesh with a relative_reference_index
#   configured.
switch_offset: 0.4
#   The trigger point offset of the used mag-probe switch.
#   This needs to be fined out manually. More on this later
#   in this section..
max_deviation: 1.5
#   The maximum allowed deviation of the calculated offset.
#   If the offset exceeds this value, it will stop!
#   The default is 1.0 mm.
samples: 5
#   The number of times to probe each point. The probed z-values
#   will be averaged. The default is from the probe's configuration.
samples_tolerance: 0.005
#   The maximum Z distance (in mm) that a sample may differ from other
#   samples. The default is from the probe's configuration.
samples_tolerance_retries: 10
#   The number of times to retry if a sample is found that exceeds
#   samples_tolerance. The default is from the probe's configuration.
samples_result: median
#   The calculation method when sampling more than once - either
#   "median" or "average". The default is from the probe's configuration.
clearance: 7.5
#   The distance in mm to move up before moving to the next
#   position. The default is two times the z_offset from the probe's
#   configuration.
position_min: -5
#   Minimum valid distance (in mm) used for probing move. The
#   default is from the Z rail configuration.
speed: 300
#   The moving speed in X and Y. The default is 50 mm/s.
lift_speed: 30
#   Speed (in mm/s) of the Z axis when lifting the probe between
#   samples and clearance moves. The default is from the probe's
#   configuration.
probing_speed: 20
#   The fast probing speed (in mm/s) used, when probing_first_fast
#   is activated. The default is from the Z rail configuration.
probing_second_speed: 3
#   The slower speed (in mm/s) for probing the recorded samples.
#   The default is second_homing_speed of the Z rail configuration.
probing_retract_dist: 3.5
#   Distance to backoff (in mm) before probing the next sample.
#   The default is homing_retract_dist from the Z rail configuration.
probing_first_fast: false
#   If true, the first probing is done faster by the probing speed.
#   This is to get faster down and the result is not recorded as a
#   probing sample. The default is false.

[gcode_macro CALIBRATE_Z]
rename_existing: CALIBRATE_Z_BASE
gcode:
    _CG28
    M117 Z-Calibration..
    {%  if not printer['quad_gantry_level'].applied %}
      _PRINT_AR T="QGL not executed yet"
      QUAD_GANTRY_LEVEL
    {% endif %}
    G90
    ATTACH_PROBE
    _SET_ACC VAL=HOME
    _SET_Z_CURRENT VAL=HOME  # I lower the stepper current for homing and probing 
    CALIBRATE_Z_BASE
    _SET_Z_CURRENT      # resetting the stepper current
    _SET_ACC
    M117

[gcode_macro CHECK_ZCAL]
description: Run after CALIBRATE_Z to ensure it passes
gcode:
  {% set zcal = printer['z_calibration'].last_query %}
  {% set z_hop = printer["gcode_macro _USER_VARIABLE"].z_hop %}
  {% if zcal == false %}
    {action_respond_info("ZCAL CHECK: Fail therefore cancel the print")}
    G90
    G0 Z{z_hop} F900           ; move nozzle to z high first
    PAUSE_BASE
    UPDATE_DELAYED_GCODE ID=_EXECUTE_CANCEL_PRINT DURATION=0.1
  {% else %}
    {action_respond_info("ZCAL CHECK: Pass")}
  {% endif %}
